* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}


.btn {
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  box-shadow: 2px 6px 15px -2px #fff;
  transition: all 1s ease-in-out;
  text-decoration: none;
}

#inventory {
  height: 15%;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: space-between;
}

.tiles-container {
  height: 100%;
  width: 30%;
  display: inline;
}

.top4-tiles, .bottom4-tiles {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  color:black;
  
 
}

.tile {
  height: 40px;
  width: 40px;
  margin: 5px;
  display: inline;
}

.tools-container {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
}

.tool-box {
  height: 60px;
  width: 60px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 2px 6px 15px -2px #fff;
  transition: all 1s ease-in-out;
}

#the-world {
  height: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 0px 0px;
}

#game-reset-container {
  height: 10%;
  width: 100%;
  background-color:black;
}

.box {
  background-color: skyblue;
}

.ground-box {
  background-image: url(/img/soil.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.grass-box {
  background-image: url(/img/grass.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.rock-box {
  background-image: url(/img/rock.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.leaves-box {
  background-image: url(/img/tree-leaves.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cloud-box {
  background-image: url(/img/cloud.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.tree-box {
  background-image: url(/img/tree.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#Axe {
  background-image: url(/img/axa.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#Pickaxe {
  background-image: url(/img/Pickaxe1.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

#Shovel {
  background: url(/img/shovel.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}


#Hoe {
  background: url(/img/hoe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#sword{
  background: url(/img/-bow-and-arrow-minecraft.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}


#Stick{
  background: url(/img/stick.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}



#game-reset-container {
  justify-content: center;
  text-align: center;
  align-items: center;
 

}