* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game {
  width: 100vw;
  height: 100vh;
}

#inventory {
  height: 15%;
  width: 100%;
  /* margin-bottom:3%; */
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}

.tiles-container {
  height: 100%;
  width: 30%;
}

.top4-tiles, .bottom4-tiles {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.tools-container {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-box {
  height: 60px;
  width: 60px;
  margin: 10px;
}

#the-world {
  height: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 0px 0px;
}

#game-reset-container {
  height: 10%;
  width: 100%;
  background-color: lightpink;
}

.box {
  background-color: skyblue;
}

.ground-box {
  background-image: url(/MainCraft-2D-game/img/soil.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: red;
}

.grass-box {
  background-image: url(/MainCraft-2D-game/img/grass.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.rock-box {
  background-image: url(/MainCraft-2D-game/img/rock.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

.leaves-box {
  background-image: url(/MainCraft-2D-game/img/tree-leaves.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cloud-box {
  background-image: url(/MainCraft-2D-game/img/cloud.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.tree-box{
  background-image: url(/MainCraft-2D-game/img/tree.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#Axe {
  background-image: url(/MainCraft-2D-game/img/axe.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#Pickaxe {
  background-image: url(/MainCraft-2D-game/img/pickaxe.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#Shovel {
  background: url(/MainCraft-2D-game/img/shovel.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}